<div id="information">
	<h1>Creating new <em>transformation</em> for item <%= "(#{@item.identifier})" %></h1>
	
	<% form_for(:transformation, :url => item_transformations_path(@item), :html => { :multipart => true }) do |f| %>
	<div id="actions">
		<%= f.submit 'Create' %> or <%= link_to 'Cancel', item_path(@item), :class => 'action' %>
	</div>
</div>

<div id="content-with-sidebar" style="min-height: 0">
	  <%= f.error_messages %>

	  <p>
		<%= f.label :data, 'Choose a file to upload' %>
		<%= f.file_field :data %>
	  </p>

	  <p>
		 <%= f.submit 'Create' %> or <%= link_to 'Cancel', item_path(@item), :class => 'action' %>
	  </p>
	<% end %>
</div>